.nav-ul li{
  display:inline-block;
  padding:10px;

}
.nav-ul li a{
  color:#fff;
  padding:5px;
  text-decoration: none;

}
.nav-ul {
  padding:5px;
  margin:0;
  background-color: skyblue;
}
.footer{
  position:absolute;
  bottom: 0;
  text-align: center;
  width:100%;
  padding:5px;
 
  background-color: skyblue;
}
/* .login{
  margin-left: 30%;
  margin-top: 100px;
} */
.signup,.product,.login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-box{
 

  margin:25px;
  padding:12px;
  width:300px;
  border:1px solid skyblue;


}
.signup-button{
   margin:25px;
   padding:10px;
   width:150px;
   background-color: skyblue;
   border: 1px solid;
   cursor:pointer;
}
.nav-right{
  text-align:right;
}
.invalid-input{
  color:red;
  margin-top: -20px;
  display: block;
  margin-left: 20px;
}
.product-list{
  text-align: center;
  margin-top: 50px;
}
.product-list ul{
  margin:0;
}
.product-list ul li{
  display: inline-block;
  border:1px solid skyblue;
  padding:15px;
  width:150px;
}
.search-input{
  width:400px;
  margin:20px;
  height:40px;
  border:1px solid skyblue;
  padding-left:20px;
}
a{
  
  text-decoration: none;
  color:white;
 

}
.del-btn{
 
  background-color: skyblue;
 
  border:1px solid grey;
  margin-left: 2px;
  color:white;
}